name: Sync to Hugging Face

on:
  push:
    branches: [main]

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # IMPORTANT: full history

      - name: Configure Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Remove images from entire git history
        run: |
          pip install git-filter-repo
          git filter-repo --path images --invert-paths --force

      - name: Push cleaned repo to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote remove hf || true
          git remote add hf https://inderjeet:${HF_TOKEN}@huggingface.co/spaces/inderjeet/shl-recommender
          git push hf main --force
